.hydration-stats {
  display: block;
  position: fixed;
  background-color: white;
  color: black;
  border-radius: 0.2rem;
  left: 20px;
  bottom: 20px;
  width: 140px;
  padding: 10px;
  font-size: 1rem;

  p {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.disabled {
    color: #888;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade-in 200ms ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
