@if (showHydrationStats()) {
  <div class="hydration-stats" [class.disabled]="hydration.disabled">
    <p>
      Hydrated cmps: <strong>{{ hydration.hydratedCmps() }}</strong>
    </p>
    <p>
      Fetched:
      <strong>{{ hydration.fetchedKbs() | number: '1.0-1' }} kB</strong>
    </p>
    @if (hydration.fetchedKbs()) {
      <hr />
      <p>
        <strong>{{ percentHydrated() | number: '1.0-1' }}%</strong> hydrated of
        total size
      </p>
    }
    <hr />
    <div>
      Delay:
      <input
        type="number"
        value="0"
        (input)="onDelayInput($event)"
        [disabled]="hydration.disabled"
      />
    </div>
    <hr />
    <div>
      Hydration:
      <ngx-switch
        [on]="!hydration.disabled"
        (onChange)="onDisabledChange()"
      ></ngx-switch>
    </div>
  </div>
}
@if (showOverlay()) {
  <div class="overlay">
    <ec-loader></ec-loader>
  </div>
}
