<div ngxDropGridGroup class="wrapper">
  @for (list of board.lists(); track list.id) {
    <kb-list [list]="list">
      <ngx-drop-grid [columns]="1" [cellGap]="8">
        @for (card of board.cards(list.id)(); track card.id) {
          <kb-card
            *ngxDraggable="card.id; size: 1; position: card.pos; cols: 1"
            [card]="card"
          ></kb-card>
        }
      </ngx-drop-grid>
    </kb-list>
  }
  <div class="createlist">
    <button (click)="createList()">Create list</button>
  </div>
</div>
