.grid {
  display: grid;
}

.slot {
  box-sizing: border-box;
  border: var(--grid-slot-border, none);
  border-radius: var(--grid-slot-border-radius, 0.25rem);
  background: var(--grid-slot-background, var(--color-tertiary));
  overflow-x: hidden;
}
