<a [routerLink]="productUrl()">
  <!-- Todo(Georgi): Change to a ngSrc -->
  <img [src]="product().images.first()" width="100" [alt]="product().name" />
  <div class="data">
    <p>
      <strong>{{ product().name }}</strong>
    </p>
    <span>Categories: {{ categories().toArray() }}</span>
    @if (product().availability === 'low') {
    <div>LAST ITEMS</div>
    } @if (product().availability !== 'none') {
    <div><ec-price-tag [product]="product()"></ec-price-tag></div>
    } @else {
    <div>Unavailable</div>
    }
  </div>
</a>
