:host {
  display: block;
  // padding: 0 1rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
  }
}
