@import '../../../../styles/typography';

:host {
  display: block;
  margin: 1rem 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      @extend %heading-300;
    }

    a {
      @extend %body-short-01;
    }
  }

  .products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.875rem;
  }
}
