@import '../../../../styles/typography';

:host {
  display: block;
  margin: 1rem 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      @extend %heading-300;
    }
  }

  .products {
    display: flex;
    flex-wrap: wrap;
  }
}
