:host {
  display: block;
  background-color: var(--color-octonary);
  border: 1px solid var(--color-senary);
  box-shadow: 0 5px 15px var(--color-septenary);
  border-radius: 0.25rem;

  .editor {
    padding: 2.5rem 2rem;
    height: 100%;
    min-height: 40vh;

    &:focus {
      outline: none;
    }
  }
}
