@import 'typography';
@import './styles/control-button';

:host {
  display: block;
  background-color: var(--color-octonary);
  border: 1px solid var(--color-senary);
  box-shadow: 0 5px 15px var(--color-septenary);
  border-radius: 0.25rem;
  user-select: none;

  .toolbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;

    &::before {
      content: '';
      position: absolute;
      left: 0.75rem;
      right: 0.75rem;
      bottom: 0;
      height: 1px;
      background-color: var(--color-septenary);
    }

    .controls {
      display: flex;
      align-items: center;

      .saved-label {
        @extend %caption-text;
        animation: fade-in 300ms ease;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        margin-right: 10px;
      }
    }

    .clear-btn {
      @extend %control-button;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
