<div class="toolbar">
  <ate-formatting-bar
    (format)="onFormat($event)"
    [isTextSelected]="isTextSelected()"
  ></ate-formatting-bar>
  <div class="controls">
    @if (showSavedLabel()) {
      <p class="saved-label">Saved</p>
    }
    <button
      class="clear-btn"
      (click)="clearDocument()"
      title="Clear the document"
    >
      <ngx-icon name="Delete" size="md"></ngx-icon>
    </button>
  </div>
</div>
<ate-textarea
  [contents]="docStore.html()"
  (ref)="docStore.provideTarget($event)"
  (ctrl)="onTextareaController($event)"
  (input)="onInput()"
  (textSelect)="onTextSelect($event)"
></ate-textarea>
@if (showAiEnhancer()) {
  <ate-ai-enhancer-menu
    [position]="aiEnhancerPos()"
    (mouseup)="$event.stopPropagation()"
    (touchend)="$event.stopPropagation()"
    (mousedown)="$event.stopPropagation()"
    (enhance)="onAiEnhance()"
  ></ate-ai-enhancer-menu>
}
