:host {
  display: block;
  background-color: var(--color-octonary);
  border: 1px solid var(--color-senary);
  box-shadow: 0 5px 15px var(--color-septenary);
  border-radius: 0.25rem;

  .toolbar {
    border: 1px solid darkred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    .controls {
      display: flex;
      align-items: center;

      .saved-label {
        animation: fade-in 300ms ease;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        margin-right: 10px;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
