<div class="toolbar">
  <div class="controls">
    <ate-formatting-bar
      (format)="onFormat($event)"
      [isTextSelected]="isTextSelected()"
    ></ate-formatting-bar>
    <div class="vr"></div>
    <button (click)="download()" title="Download as an HTML document">
      <ngx-icon name="Download" size="md"></ngx-icon>
    </button>
  </div>
  <div class="controls">
    @if (showSavedLabel()) {
      <p class="saved-label">Saved</p>
    }
    @if (docStore.html().length || editorDirty()) {
      <button
        title="Hint"
        [class.new-hint]="editorDirty() && !docStore.html().length"
        (click)="showHint()"
      >
        <ngx-icon name="Lightbulb" size="md"></ngx-icon>
      </button>
    }
    <button (click)="clearDocument()" title="Clear the document">
      <ngx-icon name="Delete" size="md"></ngx-icon>
    </button>
  </div>
</div>
<ate-textarea
  [contents]="docStore.html()"
  (ref)="docStore.provideTarget($event)"
  (ctrl)="onTextareaController($event)"
  (input)="onInput()"
  (textSelect)="onTextSelect($event)"
></ate-textarea>
@if (showAiEnhancer()) {
  <ate-ai-enhancer-menu
    [position]="aiEnhancerPos()"
    (mouseup)="$event.stopPropagation()"
    (touchend)="$event.stopPropagation()"
    (mousedown)="$event.stopPropagation()"
    (enhance)="onAiEnhance()"
  ></ate-ai-enhancer-menu>
}
