<div class="toolbar">
  <ate-formatting-bar
    (format)="onFormat($event)"
    [isTextSelected]="isTextSelected()"
  ></ate-formatting-bar>
  <div class="controls">
    @if (showSavedLabel()) {
      <p class="saved-label">Saved</p>
    }
    <button (click)="clearDocument()">Clear</button>
  </div>
</div>
<ate-textarea
  [contents]="docStore.html()"
  (ref)="docStore.provideTarget($event)"
  (input)="onInput()"
  (textSelect)="onTextSelect($event)"
></ate-textarea>
@if (showAiEnhancer()) {
  <ate-ai-enhancer-menu
    (mouseup)="onAiEnhancerInteractionEnd($event)"
    (touchend)="onAiEnhancerInteractionEnd($event)"
    (enhance)="onAiEnhance()"
    [style.left]="aiEnhancerPos().x + 'px'"
    [style.top]="aiEnhancerPos().y + 'px'"
  ></ate-ai-enhancer-menu>
}
