@use '../../../styles/typography';

:host {
  display: block;

  button {
    @extend %caption-text;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    height: auto;
    border: none;
    background: transparent;
    padding: 0;
    color: var(--color-quaternary);
    transition: color 300ms ease;
    cursor: pointer;

    span {
      margin-right: 0.25rem;
      width: 0;
      overflow: hidden;
      transition: width 200ms ease;
    }

    &:hover > span {
      width: 100%;
    }

    &:hover {
      color: var(--color-primary);
    }
  }
}
