@import '../styles/card';

:host {
  display: block;

  button {
    @extend %card-container;
    cursor: pointer;
    text-align: left;
    word-break: break-all;

    .labels {
      .label {
        @extend %body-short-03;
        display: inline;
        font-weight: bold;
        border-radius: 15px;
        text-align: center;
        padding: 0.2rem 0.5rem;
        margin-right: 6px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      &:not(:empty) {
        margin-top: 0.5rem;
      }
    }
  }
}
