@import '../styles/card';

:host {
  display: block;

  button {
    @extend %card-container;
    cursor: pointer;
    text-align: left;
    word-break: break-all;

    .labels:not(:empty) {
      margin-top: 0.5rem;
    }
  }
}
