@import '../styles/card';

:host {
  display: block;

  button {
    @extend %card-container;
    cursor: pointer;
    text-align: left;
    word-break: break-all;

    .labels {
      kb-label {
        margin-right: 6px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      &:not(:empty) {
        margin-top: 0.5rem;
      }
    }
  }
}
