:host {
  display: block;

  button {
    border-radius: 4px;
    cursor: pointer;
    padding: 1rem;
    border: none;
    background-color: transparent;
    color: var(--color-text);
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 200px;

    .widget-wrapper {
      transform: scale(0.5);
      pointer-events: none;

      & ::ng-deep > .widget {
        width: 250px;
        height: 150px;
      }
    }

    &:hover {
      background-color: var(--color-septenary);
    }
  }
}
