<ngx-select
  [(selected)]="textStyle"
  (selectedChange)="format.emit({ command: 'text-style', parameter: $event })"
>
  <ngx-select-option value="heading">
    <span class="heading">Heading</span>
  </ngx-select-option>
  <ngx-select-option value="monospaced">
    <span class="mono">Monospaced</span>
  </ngx-select-option>
  <ngx-select-option value="body">
    <span class="body">Body</span>
  </ngx-select-option>
</ngx-select>
<button (click)="format.emit({ command: 'bold' })">B</button>
<button (click)="format.emit({ command: 'italics' })">I</button>
<button (click)="format.emit({ command: 'underlined' })">U</button>
<button
  (click)="format.emit({ command: 'hyperlink' })"
  [disabled]="!isTextSelected()"
>
  Hyperlink
</button>
