:host {
  display: flex;
  align-items: center;
  user-select: none;

  button,
  ngx-select {
    margin-right: 10px;
  }

  fieldset {
    padding: 0;
    border: none;
  }

  ngx-select {
    min-width: 150px;

    .heading {
      font-size: 22px;
    }

    .mono {
      font-family: monospace;
    }
  }
}
