<ngx-select>
  <ngx-select-option value="h1">
    <span class="h1">Heading 1</span>
  </ngx-select-option>
  <ngx-select-option value="h2">
    <span class="h2">Heading 2</span>
  </ngx-select-option>
  <ngx-select-option value="monospaced">
    <span class="mono">Monospaced</span>
  </ngx-select-option>
  <ngx-select-option value="body">
    <span class="body">Body</span>
  </ngx-select-option>
</ngx-select>
<button (click)="format.emit('bold')">B</button>
<button (click)="format.emit('italics')">I</button>
<button (click)="format.emit('underlined')">U</button>
<button (click)="format.emit('hyperlink')" [disabled]="!isTextSelected()">
  Hyperlink
</button>
