@import 'typography';

:host {
  display: block;

  footer {
    @extend %body-short-03;
    padding: 64px 0 96px 0;
    text-align: center;
    color: var(--color-quinary);

    p {
      margin: 1rem 0;
    }

    ngx-icon {
      display: inline-block;
      vertical-align: bottom;
    }
  }
}
