@import '../widget-styles';

:host {
  @extend %widget-container;
  position: relative;
  color: grey;

  input {
    width: 50px;
  }

  &.red {
    color: rgb(231, 57, 57);
  }

  &.green {
    color: rgb(32, 159, 32);
  }

  &.blue {
    color: rgb(57, 105, 219);
  }

  &.purple {
    color: rgb(143, 57, 219);
  }

  &.orange {
    color: rgb(219, 130, 57);
  }

  &.gold {
    .counter {
      background: radial-gradient(
          ellipse farthest-corner at right bottom,
          #fedb37 0%,
          #fdb931 8%,
          #9f7928 30%,
          #8a6e2f 40%,
          transparent 80%
        ),
        radial-gradient(
          ellipse farthest-corner at left top,
          #ffffff 0%,
          #ffffac 8%,
          #d1b464 25%,
          #5d4a1f 62.5%,
          #5d4a1f 100%
        );

      -webkit-background-clip: text;
      background-size: 100%;
      background-clip: text;
      color: transparent;
    }
  }

  .counter {
    position: absolute;
    font-size: 40px;
    bottom: 10px;
    right: 10px;
    user-select: none;
  }
}
