:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 64px - 33px);

  .conversation {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;

    acb-chat-intro,
    acb-query:first-of-type {
      margin-bottom: auto;
    }
  }

  acb-input {
    margin-top: 1rem;
  }
}
