<div class="conversation">
  <p>This is the chat</p>
  <ul>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur
      id lectus ut rutrum. Nullam ullamcorper ac nisl eu ultricies. Suspendisse
      cursus tempus nisi vitae congue. Mauris accumsan neque est, in euismod
      risus sollicitudin ut. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos.
    </li>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur
      id lectus ut rutrum. Nullam ullamcorper ac nisl eu ultricies.
    </li>
  </ul>
</div>
<acb-input (send)="onSend($event)" (abort)="onAbort()"></acb-input>
