:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .conversation-wrapper {
    flex: 1;

    .conversation {
      display: flex;
      flex-direction: column-reverse;
      max-height: calc(100vh - 64px - 32px - 80px);
      overflow-y: auto;
    }
  }

  acb-input {
    margin-top: 1rem;
  }
}
