:host {
  display: block;
  border-radius: 0.25rem;
  transition: filter 300ms ease;

  &.non-hydrated {
    filter: grayscale(1);
    opacity: 0.8;
  }

  &.hydrating {
    animation: hydration-glow 1.5s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  &.artificial-delay {
    animation: pulse 0.5s ease infinite;
  }
}

@keyframes hydration-glow {
  from {
    box-shadow: 0 0 30px rgb(254, 74, 236);
  }
  to {
    box-shadow: 0 0 0 rgb(254, 74, 236);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}
