:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  main {
    max-width: var(--app-max-width);
    width: 100%;
    flex: 1 0 auto;
  }

  ec-footer {
    flex-shrink: 0;
    width: 100%;
  }
}
