<div class="header">
  <input #nameInput type="text" [value]="list().name" (blur)="updateName()" />
  <button (click)="topCardCreator.set(true)" title="Add a card">+</button>
  <button (click)="openCtxMenu($event)">Menu</button>
</div>
<div class="cards" #cards>
  @if (topCardCreator()) {
    <kb-add-card
      [creatorAlwaysEnabled]="true"
      (cardCreate)="createCard($event, true); topCardCreator.set(false)"
      (blur)="topCardCreator.set(false)"
    ></kb-add-card>
  }
  <ng-content></ng-content>
  <kb-add-card (cardCreate)="createCard($event)"></kb-add-card>
</div>
