@import '../variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 0 0 $list-width;
  width: 100%;
  height: $list-height;
  border: 1px solid var(--color-quinary);
  background-color: var(--color-septenary);
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: $list-border-radius;

  .header {
    margin-bottom: 1rem;
  }

  .cards {
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
