@import 'typography';

%card-container {
  @extend %body-short-01;
  background-color: var(--color-senary);
  border-radius: 0.5rem;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: block;
  border: none;

  &:hover {
    background-color: color-mix(
      in srgb,
      var(--color-quinary) 50%,
      var(--color-senary) 50%
    );
  }
}
