@import 'typography';

%card-container {
  @extend %body-short-01;
  background-color: var(--color-senary);
  transition: background-color 200ms ease;
  border-radius: 0.5rem;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: block;
  border: none;

  &:hover {
    background-color: var(--color-quinary);
  }
}
