:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--color-septenary);
  padding: 1rem;
  transition: width 200ms ease;
  width: 56px;
  box-sizing: border-box;
  overflow: hidden;

  &.expanded {
    width: 200px;
  }

  .sidebar-toggle {
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .fade-in {
    opacity: 0;
  }

  &.expanded .fade-in {
    animation: fade-in 300ms ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
