$sidebar-anim-duration: 200ms;

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--color-septenary);
  padding: 1rem;
  transition: width $sidebar-anim-duration ease;
  width: 56px;
  box-sizing: border-box;
  overflow: hidden;

  &.expanded {
    width: 275px;

    .fade-in {
      animation: fade-in 300ms ease;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-delay: $sidebar-anim-duration;
    }

    .new-chat-btn::after {
      content: ' New Chat';
    }
  }

  .sidebar-toggle {
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .fade-in {
    opacity: 0;
  }

  .content {
    margin-top: 2rem;

    .new-chat-btn {
      background: var(--color-senary);
      padding: 0.5rem;
      display: block;
      font-weight: bold;
      border-radius: 0.5rem;
    }

    .chats {
      max-height: 80vh;
      overflow-y: auto;
      margin-top: 2rem;

      a {
        display: flex;
        margin-bottom: 0.5rem;
        justify-content: space-between;

        &.selected {
          font-weight: bold;
          text-decoration: underline;
        }

        span:last-child {
          display: none;
        }

        &:hover > span:last-child {
          display: block;
        }
      }
    }
  }

  acb-footer {
    margin-top: 2rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
