<div class="head">
  <button class="sidebar-toggle" (click)="expanded.set(!expanded())">
    <ngx-icon name="Menu" size="xlg"></ngx-icon>
  </button>
  <div class="content">
    <a routerLink="/" class="fade-in">+ New</a>
    @for (c of chatbot.sortedChats(); track c.id) {
      <a [routerLink]="'chat/' + c.id" class="fade-in">
        <span>{{ c.name }}</span>
        <span>&bull; {{ c.updatedAt | date }}</span>
      </a>
    }
  </div>
</div>
<div class="bottom">
  <ngx-theme-switch class="fade-in"></ngx-theme-switch>
  <acb-footer class="fade-in"></acb-footer>
</div>
