<p>App running</p>
<button (click)="getProducts()">Get products</button>
<button (click)="getProduct()">Get Pixel 8 Pro</button>

<p>Change theme</p>
<button (click)="theme.setTheme('dark')">Dark</button>
<button (click)="theme.setTheme('light')">Light</button>
<button (click)="theme.setTheme('system')">System</button>

@for (p of products.value().toList(); track $index) {
<hr />
<ul>
  <li>ID: {{ p.id }}</li>
  <li>Name: {{ p.name }}</li>
  <li>Category: {{ categories.value().get(p.categoryId)?.name }}</li>
  <li>
    <span>Images:</span>
    @for (img of p.images; track $index) {
    <img [src]="img" width="50" height="50" alt="" />
    }
  </li>
  <li>Description: {{ p.description || 'empty' }}</li>
</ul>
}
