:host {
  background-color: grey;
  border-radius: 10px;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  position: relative;

  input {
    width: 50px;
  }

  &.red {
    background-color: rgb(231, 57, 57);
  }

  &.green {
    background-color: rgb(32, 159, 32);
  }

  &.blue {
    background-color: rgb(57, 105, 219);
    grid-column: span 2;
  }

  &.purple {
    background-color: rgb(143, 57, 219);
  }

  &.orange {
    background-color: rgb(219, 130, 57);
  }

  &.gold {
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #fedb37 0%,
        #fdb931 8%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
      ),
      radial-gradient(
        ellipse farthest-corner at left top,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 62.5%,
        #5d4a1f 100%
      );
  }

  .counter {
    position: absolute;
    font-size: 40px;
    color: white;
    bottom: 10px;
    right: 10px;
    user-select: none;
  }
}
