<form class="search" [formGroup]="form" (ngSubmit)="onSearch()">
  <ec-search-input
    #searchInput
    formControlName="search"
    (focused)="onInputFocus($event)"
    (ngModelChange)="onSearchFieldChange()"
  ></ec-search-input>
  <button [disabled]="form.invalid">Search</button>
</form>
@if (products().size && showResults()) {
<ul #results>
  @for (p of products(); track p.id) {
  <li>
    <img [src]="p.images.first()" width="20" height="20" [alt]="p.name" />
    <a [routerLink]="createUrl(p)">{{ p.name }}</a>
  </li>
  }
</ul>
}
