@import '../../../../styles/typography';

:host {
  display: block;
  width: 400px;

  .search {
    display: flex;

    ec-search-input,
    [ec-button] {
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    }

    ec-search-input {
      flex: 1;
      margin-right: 0.25rem;
    }
  }

  .results-cont {
    position: relative;
    text-align: left;

    .results,
    .no-results {
      position: absolute;
      top: 0.25rem;
      border-radius: 0.25rem;
      border: 1px solid var(--color-senary);
      background-color: var(--color-bg);
      color: var(--color-tertiary);
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
    }

    .results {
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style-type: none;

      a {
        @extend %body-short-01;
        display: flex;
        padding: 0.75rem;
        transition: background-color 200ms ease;
        align-items: center;
        font-weight: 600;

        .img {
          border-radius: 0.25rem;
          background-color: var(--color-septenary);
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 0.75rem;
        }

        span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        &:hover {
          background-color: var(--color-senary);
        }
      }
    }

    .no-results {
      @extend %body-short-01;
      color: var(--color-quinary);
      padding: 0.5rem 0.75rem;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
