:host {
  position: relative;
  display: block;
  width: 400px;

  .search {
    display: flex;

    ec-search-input {
      flex: 1;
    }
  }

  ul {
    position: absolute;
    border: 1px solid blue;
    background: #000;
    width: 100%;
  }
}
