.ngx-icon {
  position: relative;
  display: block;

  .svg {
    position: absolute;
    top: 0;
    left: 0;
    all: inherit;
    margin: initial;
    transform: initial;
    position: initial;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    border: initial;
    width: 1.125rem;
    height: 1.125rem;
    fill: var(--icon-color, currentColor);
    stroke: var(--icon-color, currentColor);
  }

  .svg.sm {
    width: 0.875rem;
    height: 0.875rem;
  }

  .svg.md {
    width: 1.125rem;
    height: 1.125rem;
  }

  .svg.lg {
    width: 1.25rem;
    height: 1.25rem;
  }

  .svg.xlg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .svg.xxlg {
    width: 2rem;
    height: 2rem;
  }
}
