.ate-textarea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.5rem;

  a {
    color: rgb(72, 131, 197);
    text-decoration: underline;
  }

  .fmt {
    // Inline styles
    &.bd {
      font-weight: bold;
    }

    &.x-bd {
      font-weight: normal;
    }

    &.ul {
      text-decoration: underline;
    }

    &.x-ul {
      // can't undo without adverse effects
    }

    &.ul::before {
      background-color: var(--color-text);
    }

    &.x-ul::before {
      background-color: var(--color-octonary);
    }

    &.it {
      font-style: italic;
    }

    &.x-it {
      font-style: normal;
    }

    // Block styles
    &.hd {
      display: block;
      font-size: 30px;
      border-bottom: 1px solid grey;
    }

    &.mono {
      display: block;
      padding: 1rem;
      font-family: monospace;
      background-color: grey;
    }
  }
}
