<section class="header">
  <h2 class="product-name" aria-label="Product name">{{ product().name }}</h2>
  <p class="categories">
    @for (category of categories(); track category) {
      <a routerLink="/products" [queryParams]="{ category: category?.id }">{{
        category?.name
      }}</a>
    }
  </p>
  @switch (product().availability) {
    @case ('none') {
      <div class="ec-chip solid large unavailable">Unavailable</div>
    }
    @case ('low') {
      <div class="ec-chip solid large last-items">Last Items</div>
    }
  }
</section>
<section class="preview">
  @if (!hydration.disabled) {
    <ec-hydration-visualizer trigger="interaction">
      @defer (on immediate; hydrate on interaction) {
        <ec-image-gallery
          ecHydrationTarget
          [product]="product()"
        ></ec-image-gallery>
      }
    </ec-hydration-visualizer>
  } @else {
    @defer {
      <ec-image-gallery [product]="product()"></ec-image-gallery>
    }
  }
</section>
<section class="details">
  @if (!hydration.disabled) {
    <ec-hydration-visualizer trigger="interaction">
      @defer (on immediate; hydrate on interaction) {
        <ec-product-inforbar
          ecHydrationTarget
          [product]="product()"
        ></ec-product-inforbar>
      }
    </ec-hydration-visualizer>
  } @else {
    @defer {
      <ec-product-inforbar [product]="product()"></ec-product-inforbar>
    }
  }
</section>
