@import 'screen-breakpoints';
@import 'typography';

:host {
  padding-top: 2rem;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 1fr min-content;
  grid-template-rows: [row-start] auto [row-mid] auto [row-end];

  @include bp-800w {
    grid-template-columns: 1fr;
  }

  .header {
    h2 {
      @extend %heading-200;
      margin-top: 0;
    }

    .categories {
      margin-bottom: 1rem;

      a {
        @extend %caption-text;
        margin-right: 1rem;
      }
    }

    .last-items {
      --chip-accent: var(--color-reddish-orange);
      margin-bottom: 1rem;
    }

    .unavailable {
      --chip-accent: var(--color-tertiary);
      margin-bottom: 1rem;
    }
  }

  .preview {
    grid-row: row-start / row-end;
    height: 0;

    @include bp-800w {
      height: auto;
      grid-row: initial;
      margin-bottom: 2rem;
    }
  }

  .details {
    width: 50ch;

    @include bp-1100w {
      width: 40ch;
    }

    @include bp-1000w {
      width: 35ch;
    }

    @include bp-800w {
      width: 100%;
    }
  }
}
