:host {
  display: flex;
  padding-top: 2rem;

  .preview {
    flex: 1;
    margin-right: 1rem;
  }

  .details {
    flex: 0 0 60ch;

    .categories {
      span {
        background-color: blue;
        color: white;
      }
    }
  }
}
