:host {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;

  img {
    width: var(--img-size, inherit);
    height: var(--img-size, inherit);
  }

  ec-icon {
    color: var(--color-quaternary);
  }
}
