@import 'typography';
@import './widget-vars';

:host {
  position: relative;
  display: block;

  .widget-wrapper {
    padding: 0.5rem;
    border: 1px solid var(--color-senary);
    border-radius: $widget-border-radius;
    background-color: var(--color-octonary);
    width: 100%;
    height: $widget-height;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .title {
      @extend %heading-400;
      color: var(--color-primary);
      margin: 3px 0px 12px 8px;
    }

    .widget {
      flex: 1;
      display: block;
      overflow: hidden;
      overflow-x: auto;
    }
  }

  button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-200);
    transition: background-color 300ms ease;

    ngx-icon {
      transition: fill 300ms ease;
      --icon-color: var(--grey-800);
    }

    &:hover {
      background-color: #d75959;

      ngx-icon {
        --icon-color: var(--white);
      }
    }
  }

  .no-data {
    @extend %heading-600;
    border-radius: $widget-border-radius;
    border: 1px dashed var(--color-senary);
    color: var(--color-quaternary);
    background-color: var(--color-bg);
    user-select: none;
    box-sizing: border-box;
    width: 100%;
    height: $widget-height;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
