@if (data || previewData()) {
  <div class="widget-wrapper">
    <p class="title">{{ displayedTitle() }}</p>
    @switch (type()) {
      @case ('plain') {
        <db-plain-widget
          [config]="config()"
          [data]="$any(data ? data() : previewData())"
          class="widget"
        ></db-plain-widget>
      }
      @case ('bar-chart') {
        <db-bar-chart
          [config]="config()"
          [data]="$any(data ? data() : previewData())"
          class="widget"
        ></db-bar-chart>
      }
      @case ('line-chart') {
        <db-line-chart
          [config]="config()"
          [data]="$any(data ? data() : previewData())"
          class="widget"
        ></db-line-chart>
      }
      @case ('pie-chart') {
        <db-pie-chart
          [config]="config()"
          [data]="$any(data ? data() : previewData())"
          class="widget"
        ></db-pie-chart>
      }
    }
  </div>
} @else {
  <div class="no-data">Unable to load data</div>
}
@if (editMode()) {
  <button (click)="remove.emit()">
    <ngx-icon name="Close" size="sm"></ngx-icon>
  </button>
}
