/* You can add global styles to this file, and also import other style files */

@import './typography';
@import './colors';

// Variables

:root {
  --app-max-width: 1000px;
}

// Styles

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-foreground);
  font-family: $font-family;
  font-size: 16px;
  margin: 0;
}
