/* You can add global styles to this file, and also import other style files */

@import './typography';

// Variables

:root {
  --app-max-width: 1024px;
}

// Styles

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: $font-family;
  font-size: 0.875rem;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: var(--color-quaternary);
  transition: color 300ms ease;
  text-decoration: none;
  cursor: pointer;

  &[target='_blank'] {
    text-decoration: underline;
  }

  &:hover {
    color: var(--color-primary);
  }
}

button:not([disabled]) {
  cursor: pointer;
}

input,
button {
  font-family: $font-family;
}
