<input #titleInput [value]="card().title" (blur)="updateTitle()" />
<button (click)="ctrl.close()">close</button>
<div class="labels">
  @for (label of labels(); track label.id) {
    <kb-label
      [label]="label"
      (labelClick)="removeLabelFromCard(label.id)"
    ></kb-label>
  }
  <button (click)="openLabelManager($event)">+ label</button>
</div>
<hr />
<form [formGroup]="descriptionForm" (ngSubmit)="updateDescription()">
  <textarea
    formControlName="description"
    placeholder="Enter a description"
  ></textarea>
  @if (descriptionForm.dirty) {
    <div>
      <button>Save</button>
      <button type="button" (click)="resetDescriptionForm()">Discard</button>
    </div>
  }
</form>
<button (click)="deleteCard()">DEL</button>
