<div class="sidebar">
  <form [formGroup]="searchForm" (ngSubmit)="onProductSearch()">
    <input formControlName="searchString" />
    <button type="button">Search</button>
  </form>
  <hr />
  <ul>
    @for (c of categories.categoriesList(); track c.id) {
    <li>
      <button (click)="onCategorySelect(c.id)">{{ c.name }}</button>
    </li>
    }
  </ul>
  <hr />
  <ec-price-filter
    [(range)]="priceRange"
    (rangeChange)="onPriceRangeChange()"
  ></ec-price-filter>
</div>
<section>
  <div class="list">
    @for (p of productsList.value(); track p.id) {
    <ec-product-item [product]="p"></ec-product-item>
    }
  </div>
  @if (!productsList.isComplete()) {
  <button (click)="onNextPage()">LOAD MORE</button>
  }
</section>
