@import '../../styles/typography';

:host {
  padding-top: 2rem;
  display: flex;

  .sidebar {
    flex: 0 0 30ch;
    margin-right: 1rem;

    form,
    .categories,
    ec-price-filter {
      margin-bottom: 2rem;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        flex: 1;
        margin-right: 0.5rem;
      }

      [ec-button] {
        height: 2.125rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }
    }

    .categories {
      .title {
        @extend %heading-600;
      }

      ul {
        list-style-type: none;
        border-left: 1px solid var(--color-senary);
        padding: 0;

        a {
          @extend %body-short-01;
          display: block;
          padding: 0.5rem 1rem;
          border-left: 2px solid transparent;
          transition: border-color 300ms ease;

          &:hover {
            border-left-color: var(--color-primary);
          }

          &.selected {
            background: var(--color-french-violet);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            border-left-color: var(--color-french-violet);
          }
        }
      }
    }
  }

  .main {
    flex: 1;

    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.75rem;

      .category-name {
        @extend %heading-200;
        margin-top: 0;
      }

      .search-title {
        @extend %heading-600;
        margin-bottom: 0;
        color: var(--color-quaternary);
      }
    }

    .list {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 0.75rem;
      grid-row-gap: 0.75rem;
    }

    .no-results {
      @extend %heading-400;
      color: var(--color-quaternary);
    }
  }
}
