:host {
  display: flex;

  .sidebar {
    border-right: 1px dashed #555;
    flex: 0 0 200px;

    .categories {
      a {
        margin: 10px 0;
        font-size: 16px;
        display: block;

        &.selected {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

  .main {
    flex: 1;

    .list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
