<section class="sidebar">
  <form [formGroup]="searchForm" (ngSubmit)="onProductSearch($event)">
    <input formControlName="searchString" placeholder="Search for a product" />
    <button
      ec-button
      btnType="primary"
      title="Search"
      [disabled]="searchForm.invalid"
    >
      <ec-icon name="Search" size="lg"></ec-icon>
    </button>
  </form>
  <ec-category-picker
    [categoryId]="categoryId()"
    [defaultCategoryName]="DEFAULT_CAT_NAME"
  ></ec-category-picker>
  <hr />
  <ec-price-filter
    [default]="DEFAULT_PRICE_RANGE"
    [range]="priceRange()"
    (rangeChange)="onPriceRangeChange($event)"
  ></ec-price-filter>
</section>
<section class="main">
  <div class="top-bar">
    <div class="title">
      <h2 class="category-name">{{ categoryName() }}</h2>
      @if (searchTerm().length) {
        <p class="search-title">Search results for "{{ searchTerm() }}"</p>
      }
    </div>
    <ec-sort-selector
      [value]="sortType()"
      (valueChange)="onSort($event)"
    ></ec-sort-selector>
  </div>
  <hr />
  <div class="list">
    @for (p of productsList.value(); track p.id) {
      <ec-product-item [product]="p"></ec-product-item>
    }
    @if (productsList.isLoading() === 'update') {
      <ec-skeleton-product-item></ec-skeleton-product-item>
      <ec-skeleton-product-item></ec-skeleton-product-item>
      <ec-skeleton-product-item></ec-skeleton-product-item>
      <ec-skeleton-product-item></ec-skeleton-product-item>
    }
  </div>
  @if (!productsList.value().size && productsList.isLoaded()) {
    <p class="no-results">No results</p>
  }
  @if (!productsList.isComplete()) {
    <ec-infinite-scroll (loadNext)="onNextPage($event)"></ec-infinite-scroll>
  }
</section>
