<section class="header">
  <div class="top-bar">
    <div class="title">
      <h2 class="category-name">{{ categoryName() }}</h2>
      @if (searchTerm().length) {
        <p class="search-title">Search results for "{{ searchTerm() }}"</p>
      }
    </div>
    <ec-sort-selector
      [value]="sortType()"
      (valueChange)="onSort($event)"
    ></ec-sort-selector>
  </div>
  <hr />
</section>
<section class="sidebar">
  @if (!hydration.disabled) {
    <ec-hydration-visualizer trigger="interaction">
      @defer (on immediate; hydrate on interaction) {
        <ec-sidebar
          ecHydrationTarget
          [defaults]="{
            categoryName: DEFAULT_CAT_NAME,
            priceRange: DEFAULT_PRICE_RANGE
          }"
          [categoryId]="categoryId()"
          [priceRange]="priceRange()"
          [sortType]="sortType()"
          (productSearch)="onProductSearch($event)"
          (priceRangeChange)="onPriceRangeChange($event)"
          (sort)="onSort($event)"
        ></ec-sidebar>
      }
    </ec-hydration-visualizer>
  } @else {
    @defer {
      <ec-sidebar
        [defaults]="{
          categoryName: DEFAULT_CAT_NAME,
          priceRange: DEFAULT_PRICE_RANGE
        }"
        [categoryId]="categoryId()"
        [priceRange]="priceRange()"
        [sortType]="sortType()"
        (productSearch)="onProductSearch($event)"
        (priceRangeChange)="onPriceRangeChange($event)"
        (sort)="onSort($event)"
      ></ec-sidebar>
    }
  }
</section>
<section class="main">
  <div class="list">
    @for (p of productsList.value(); track p.id; let i = $index) {
      @if (!hydration.disabled) {
        <ec-hydration-visualizer trigger="interaction">
          @defer (on immediate; hydrate on interaction) {
            <ec-product-item
              ecHydrationTarget
              [product]="p"
              [isLcp]="i < STANDARD_ROW_SIZE"
            ></ec-product-item>
          }
        </ec-hydration-visualizer>
      } @else {
        @defer {
          <ec-product-item
            [product]="p"
            [isLcp]="i < STANDARD_ROW_SIZE"
          ></ec-product-item>
        } @placeholder {
          <ec-skeleton-product-item></ec-skeleton-product-item>
        }
      }
    }
    @if (productsList.isLoading() === 'update') {
      <ec-skeleton-product-item></ec-skeleton-product-item>
      <ec-skeleton-product-item></ec-skeleton-product-item>
      <ec-skeleton-product-item></ec-skeleton-product-item>
      <ec-skeleton-product-item></ec-skeleton-product-item>
    }
  </div>
  @if (!productsList.value().size && productsList.isLoaded()) {
    <p class="no-results">No results</p>
  }
  @if (!productsList.isComplete()) {
    <ngx-infinite-scroll (loadNext)="onNextPage($event)"></ngx-infinite-scroll>
  }
</section>
