:host {
  display: flex;

  .sidebar {
    border-right: 1px dashed #555;
    flex: 0 0 150px;

    .categories {
      a {
        margin: 10px 0;
        font-size: 16px;
        display: block;

        &.selected {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

  .main {
    flex: 1;

    .list {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 0.75rem;
      grid-row-gap: 0.75rem;
    }
  }
}
