@import '../../styles/typography';

:host {
  margin-top: 2rem;
  display: block;

  .content {
    display: flex;

    .items {
      flex: 1;
      margin-right: 1rem;

      h2 {
        @extend %heading-200;
      }

      ec-cart-item {
        margin-bottom: 0.75rem;
      }
    }

    .checkout {
      flex: 0 0 30ch;
    }
  }

  .empty-cart {
    @extend %heading-400;
    color: var(--color-quaternary);

    ec-icon {
      display: inline-block;
      vertical-align: bottom;
    }
  }
}
