strong {
  margin-right: 5px;
  color: white;
  background: rgb(114, 72, 15);
}

s::before,
s::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

s::before {
  content: ' [start of stricken text] ';
}

s::after {
  content: ' [end of stricken text] ';
}
