:host {
  user-select: none;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    overflow: visible;

    text {
      fill: #fff;
      font-size: 20px;
    }

    path {
      stroke-width: 2;
      fill: none;
    }
  }
}
