:host {
  display: block;
  border-top: 1px solid #ccc;
  height: 100px;

  footer {
    position: relative;
    max-width: var(--app-max-width);
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
