@import './typography';

// Global styles

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: $font-family;
  font-size: 0.875rem;
  margin: 0;

  @include bp-600w {
    font-size: 1rem;
  }
}

p {
  margin: 0;
}

a {
  color: var(--color-quaternary);
  transition: color 300ms ease;
  text-decoration: none;
  cursor: pointer;

  &[target='_blank'] {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    color: var(--color-primary);
  }
}

hr {
  border: none;
  background: var(--gradient-pink-to-violet);
  width: 100%;
  height: 1px;
  margin: 1rem 0;
}

// Inputs

button:not([disabled]) {
  cursor: pointer;
}

input,
button,
select,
.ngx-input-element {
  font-family: $font-family;
}

input,
select,
.ngx-input-element {
  border-radius: 0.25rem;
  font-weight: 300;
  padding: 0.5rem;
  border: 1px solid var(--color-senary);
  background-color: var(--color-bg);
  color: var(--color-tertiary);
  box-sizing: border-box;
  transition: border-color 300ms ease;
  font-size: 0.875rem;

  &:focus {
    outline: none;
    border-color: var(--color-french-violet);
  }
}
