// Scrollbars styling

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-senary);
  border-radius: 1rem;

  &:hover {
    background-color: var(--color-quinary);
  }
}
