@use './screen-breakpoints' as sb;

$font-family: 'Inter', Arial, sans-serif;

%heading-100 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  letter-spacing: -0.05rem;
}

%heading-200 {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

%heading-300 {
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.275rem;
}

%heading-400 {
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

%heading-500 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

%heading-600 {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1.75rem;
  letter-spacing: -0.00875rem;
}

%body-short-01 {
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1.4rem;

  @include sb.bp-600w {
    font-size: 1rem;
  }
}

%body-short-02 {
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1rem;

  @include sb.bp-600w {
    font-size: 1rem;
  }
}

%body-short-03 {
  font-size: 0.75rem;
}

%nav-menu-text {
  font-size: 0.8125rem;
}

%caption-text {
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: 0.125rem;
}

%chip-text {
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: 0.05rem;

  @include sb.bp-600w {
    font-size: 0.75rem;
  }
}

%chip-text-large {
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: 0.125rem;
  font-size: 0.875rem;
}
