<svg #svgElement xmlns="http://www.w3.org/2000/svg">
  <g class="separators">
    @for (s of separators(); track $index; let i = $index) {
      <text
        [attr.x]="BARS_SIDE_PADDING - 20"
        [attr.y]="sepStep() * i + BARS_TOP_PADDING + 5"
        text-anchor="end"
      >
        {{ s | formatThousands }}
      </text>
      <line
        [attr.x1]="BARS_SIDE_PADDING - 10"
        [attr.x2]="contSize().width - BARS_SIDE_PADDING + 10"
        [attr.y1]="sepStep() * i + BARS_TOP_PADDING"
        [attr.y2]="sepStep() * i + BARS_TOP_PADDING"
        style="stroke: pink; stroke-width: 1"
      />
    }
  </g>
  <g
    class="bars"
    [attr.transform]="
      'translate(' + BARS_SIDE_PADDING + ', ' + BARS_TOP_PADDING + ')'
    "
  >
    @for (item of normalizedData(); track $index; let i = $index) {
      <rect
        [attr.width]="barWidth()"
        [attr.x]="(barWidth() + BAR_SPACING) * i"
        [attr.y]="this.maxBarHeight() - item.value"
        [attr.height]="item.value"
        [attr.fill]="colorsArray()[i]"
      />
      <text
        text-anchor="middle"
        [attr.x]="(barWidth() + BAR_SPACING) * i + barWidth() / 2"
        [attr.y]="this.maxBarHeight() + 20"
      >
        {{ item.label | chartLabel }}
      </text>
    }
  </g>
</svg>
