<svg #svgElement xmlns="http://www.w3.org/2000/svg">
  <g class="separators">
    @for (s of separators(); track $index; let i = $index) {
      <text
        [attr.x]="
          BARS_LEFT_PADDING -
          SEPARATOR_LABELS_MARGIN_RIGHT -
          SEPARATORS_SIDE_PADDING
        "
        [attr.y]="sepStep() * i + BARS_TOP_PADDING + 4"
        class="sep-label"
      >
        {{ s | formatThousands }}
      </text>
      <line
        [attr.x1]="BARS_LEFT_PADDING - SEPARATORS_SIDE_PADDING"
        [attr.x2]="
          contSize().width - BARS_RIGHT_PADDING + SEPARATORS_SIDE_PADDING
        "
        [attr.y1]="sepStep() * i + BARS_TOP_PADDING"
        [attr.y2]="sepStep() * i + BARS_TOP_PADDING"
        class="sep-line"
      />
    }
  </g>
  <g
    class="bars"
    [attr.transform]="
      'translate(' + BARS_LEFT_PADDING + ', ' + BARS_TOP_PADDING + ')'
    "
  >
    @for (item of normalizedData(); track $index; let i = $index) {
      <rect
        [attr.width]="barWidth()"
        [attr.x]="(barWidth() + BAR_SPACING) * i"
        [attr.y]="this.maxBarHeight() - item.value"
        [attr.height]="item.value"
        [attr.fill]="colorsArray()[i]"
        rx="4"
        ry="4"
      />
      <text
        [attr.x]="(barWidth() + BAR_SPACING) * i + barWidth() / 2"
        [attr.y]="this.maxBarHeight() + LABELS_MARGIN_TOP"
        class="label"
      >
        {{ item.label | chartLabel }}
      </text>
    }
  </g>
</svg>
