:host {
  position: relative;
  display: block;
  width: 70vw;

  img {
    margin: 0 auto;
    display: block;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    &.slide-left {
      animation-name: slide-out-left;
    }

    &.slide-right {
      animation-name: slide-out-right;
    }
  }

  p {
    position: absolute;
    font-size: 5rem;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    color: red;
    user-select: none;
  }

  button {
    position: absolute;
    top: 50%;
    border: 2px solid white;

    &:first-of-type {
      left: 20px;
    }

    &:last-of-type {
      right: 20px;
    }
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
