@import 'typography';

:host {
  display: block;

  .controls {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 1rem;
    height: 35px;

    button {
      margin-left: 1rem;
    }
  }

  .no-widgets {
    text-align: center;

    p {
      @extend %heading-200;
      margin: 1rem 0 2rem 0;
      color: var(--color-quaternary);
    }

    button {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
