// This files keeps all CSS variable for the light and dark themes.

// Colors
:root {
  --grey-1000: #0f0f11;
  --grey-900: #151417;
  --grey-800: #232125;
  --grey-700: #413e46;
  --grey-600: #55505b;
  --grey-500: #746e7c;
  --grey-400: #a39fa9;
  --grey-300: #ccc9cf;
  --grey-200: #e4e3e6;
  --grey-100: #f6f5f6;
  --grey-50: #fbfbfb;
  --white: #fff;

  --gradient-magenta-to-light-purple: linear-gradient(
    90deg,
    rgba(225, 27, 172, 1) 0%,
    rgba(211, 68, 248, 1) 40%,
    rgba(217, 96, 253, 1) 70%,
    rgb(139, 10, 186) 100%
  );
  --gradient-pink-to-violet: linear-gradient(90deg, #f637e3 0%, #8514f5 100%);
}

/*
 * Light theme setup
 * _________________
 */

// Setup
@mixin light-theme-colors-setup {
  --color-bg: var(--white);
  --color-text: var(--grey-900);

  --color-primary: var(--grey-900);
  --color-secondary: var(--grey-800);
  --color-tertiary: var(--grey-700);
  --color-quaternary: var(--grey-500);
  --color-quinary: var(--grey-300);
  --color-senary: var(--grey-200);
  --color-septenary: var(--grey-100);
  --color-octonary: var(--grey-50);

  --color-french-violet: #8001c6;
  --color-reddish-orange: #843115;
  --color-electric-lavander: #c435ec;

  --gradient-orange-to-violet: linear-gradient(
    90deg,
    #fa2c05 0%,
    #f637e3 50%,
    #8514f5 100%
  );

  --gradient-red-to-darkred: linear-gradient(
    90deg,
    #ff2a00 0%,
    #ff4387 50%,
    #960000 100%
  );
}

// System preference / User-selected
:root,
:root.ngx-light-theme {
  @include light-theme-colors-setup;
  color-scheme: light;
}

/*
 * Dark theme setup
 * ________________
 */

// Setup
@mixin dark-theme-colors-setup {
  --color-bg: var(--grey-1000);
  --color-text: var(--grey-50);

  --color-primary: var(--grey-50);
  --color-secondary: var(--grey-200);
  --color-tertiary: var(--grey-300);
  --color-quaternary: var(--grey-400);
  --color-quinary: var(--grey-500);
  --color-senary: var(--grey-700);
  --color-septenary: var(--grey-800);
  --color-octonary: var(--grey-900);

  --color-french-violet: #c97bf4;
  --color-reddish-orange: #f88158;
  --color-electric-lavander: #ebbef9;

  --gradient-orange-to-violet: linear-gradient(
    90deg,
    #f97960 0%,
    #f785ec 50%,
    #af67f6 100%
  );

  --gradient-red-to-darkred: linear-gradient(
    90deg,
    #ff0000 0%,
    #e44880 50%,
    #c62626 100%
  );
}

// System preference
@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme-colors-setup;
    color-scheme: dark;
  }
}

// User-selected
:root.ngx-dark-theme {
  @include dark-theme-colors-setup;
  color-scheme: dark;
}
