/* You can add global styles to this file, and also import other style files */

@import 'global';

// Include widget tooltip directive styles
@import './app/shared/widgets/widget-tooltip/widget-tooltip-styles';

// Variables

:root {
  --app-max-width: 1620px;
  --app-min-width: 1250px;

  @include bp-800w {
    --app-min-width: unset;
  }
}

body {
  overflow-y: scroll;
}
